.image {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../public/images/beach_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 640px) {
    .image {
        height: 40vh;
    }
}

@media screen and (max-width: 800px) {
    .image {
        height: 40vh;
    }
}

@media screen and (max-width: 1250px) {
    .image {
        height: 60vh;
    }
}